#  Automatizacion recaudos

Importar librerias

In [1]:
import yfinance as yf

# Definir el ticker para el tipo de cambio USD/COP
ticker = "COP=X"

# Descargar los datos históricos
# data = yf.download(ticker, period="1d", interval="1d")
data = yf.download(ticker, period="1y", interval="1d")

[*********************100%%**********************]  1 of 1 completed

In [2]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-07-05,4156.229980,4156.229980,4126.589844,4156.229980,4156.229980,0
2023-07-06,4127.930176,4192.509766,4122.919922,4127.930176,4127.930176,0
2023-07-07,4178.250000,4229.410156,4178.250000,4178.250000,4178.250000,0
2023-07-10,4173.609863,4173.609863,4109.511719,4173.609863,4173.609863,0
2023-07-11,4158.250000,4191.029785,4110.921387,4158.250000,4158.250000,0
...,...,...,...,...,...,...
2024-07-01,4176.799805,4176.799805,4088.386475,4176.799805,4176.799805,0
2024-07-02,4132.250000,4144.259766,4128.439941,4132.250000,4132.250000,0
2024-07-03,4117.950195,4123.410156,4103.270020,4117.950195,4117.950195,0
2024-07-04,4102.250000,4102.250000,4092.000000,4102.250000,4102.250000,0
2024-07-07,4080.649902,4080.649902,4080.649902,4080.649902,4080.649902,0